<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit Bus Details</title>
<th:block th:include="header"></th:block>
</head>
<body>

	<div>
		<h2>Edit Bus Details</h2>
		<div>
			<form th:object="${bus}" th:action="@{/busschedule/save}"
				method="post">
				<input type="hidden" th:field="*{busID}" /> 
				<label>Bus Number</label> <input
					type="text" th:field="*{busNumber}" /> 
					<label>Bus Date</label> <input
					type="text" th:field="*{busDate}" /> 
					<label>Bus From</label> <input
					type="text" th:field="*{busFrom}" />
					<label>Bus To</label> <input
					type="text" th:field="*{busTo}" />
					<label>Price</label> <input
					type="text" th:field="*{price}" />
					

					
					
				<button type="submit">Save</button>
			</form>
		</div>
	</div>

</body>
</html>