<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
<body>

	<center>
	<div class="container">
  <div class="jumbotron">
    <h3>Zacks Bus Service</h3>
  
		<h4><a href="#" th:href="@{/}">Home</a></h4> <br> <h4> <a
			th:href="@{/busreservation/}">View Buses In Account</a></h4><h4><a
			th:href="@{/availablebusschedule/}">View Avaliable Buses</a></h4><br><h4> <a
			th:href="@{/busschedule}">Admin Bus Schedule</a> </h4><h4><a
			th:href="@{/busschedule/add}">Add Bus to Schedule</a> </h4><br><h4> <a
			th:href="@{/jobs}">Careers</a> </h4>
			
			
	</div>
	</div>
	</center>

</body>
</html>