<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Zacks Bus Service</title>
<th:block th:include="header"></th:block>
</head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>

<h2>Upload Resume</h1>

<hr/>

<h4>Upload Single File:</h4>
<form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
  <input type="file" name="file"/> <br/><br/>
  <button type="submit">Submit</button>
</form>


<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

</body>
</html>